<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knifestone.hyena">

    <application>

        <activity
            android:name=".function.update.HyenaUpdateActivity"
            android:theme="@style/ThemeTransparent" />

        <receiver android:name=".function.update.HyenaUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>


</manifest>
